[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
beautifulsoup4 = "*"
llama-index = "*"
openai = "*"
python-dotenv = "*"
black = "*"
llama-cpp-python = "*"
transformers = "*"
llama-index-llms-openai = "*"
pinecone = "*"
llama-index-vector-stores-pinecone = "*"
unstructured = "*"
streamlit = "*"

[dev-packages]

[requires]
python_version = "3.10"
